{% extends 'templates/header' %}

{% block CssBlock %}
<link rel="stylesheet" href="public/classic/global/vendor/datatables-bootstrap/dataTables.bootstrap.css">
<link rel="stylesheet" href="public/classic/global/vendor/datatables-responsive/dataTables.responsive.css">
<link rel="stylesheet" href="public/classic/global/vendor/datatables-buttons/dataTables.buttons.css">
<link rel="stylesheet" href="public/classic/base/assets/examples/css/tables/datatable.css">
{% endblock %}

{% block content %}
    {% include 'templates/nav' %}

    {% include 'templates/sidebar' %}
  
    <div class="page">
        <div class="page-header">
            <h1 class="page-title">Gestion de parroquias</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ constant('URL') }}">Gesti贸n</a></li>
                
            </ol>
        </div>
        <div class="page-content">
            <div class="panel">
                <header class="panel-heading">
                    <h3 class="panel-title">Gesti贸n de parroquias</h3>
                </header>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-15">
                                <a class="btn btn-outline btn-primary" href="parroquias/add/">
                                    <i class="icon wb-plus" aria-hidden="true"></i> Agregar Nuevo
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-hover dataTable table-striped w-full" id="exampleTableSearch">
                    <thead>
                        <tr>
                            <th>Parroquia</th>
                            <th>Municipio</th>
                            <th>Acci贸n</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Parroquia</th>
                            <th>Municipio</th>
                            <th>Acci贸n</th>
                        </tr>
                    </tfoot>
                        <tbody>
                            {% for d in data if false != data %}
                            <tr id="tr_parroquias_{{d.id}}">
                                <td style="vertical-align: middle;">{{ d.parroquia }}</td>
                                <td style="vertical-align: middle;"> <span class="badge badge-round badge-success"> {{ d.municipio }} </span></td>
                                <td style="vertical-align: middle;width:10% !important;" class="actions">
                                    <a href="parroquias/edit/{{ d.id }}" class="btn btn-sm btn-icon btn-pure btn-default on-default edit-row" data-toggle="tooltip" data-original-title="Editar"><i class="icon wb-edit" aria-hidden="true"></i></a>

                                    <a onclick="delete_this('parroquias',{{ d.id }},true)" class="pointer btn btn-sm btn-icon btn-pure btn-default on-default remove-row" data-toggle="tooltip" data-original-title="Eliminar"><i class="icon wb-trash" aria-hidden="true"></i></a>
                                </td>
                            </tr>
                            {% endfor %}
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
  
  {% include 'templates/footer' %}
  <script src="public/classic/global/vendor/datatables/jquery.dataTables.js"></script>
  <script src="public/classic/global/vendor/datatables-bootstrap/dataTables.bootstrap.js"></script>
  <script src="public/classic/global/vendor/datatables-responsive/dataTables.responsive.js"></script>
  <script src="public/classic/global/vendor/datatables-buttons/dataTables.buttons.js"></script>
  <script src="public/classic/global/vendor/datatables-buttons/buttons.print.js"></script>
  <script src="public/classic/global/js/Plugin/datatables.js"></script>
  <script src="public/classic/base/assets/examples/js/tables/datatable.js"></script>
</body>
</html>
{% endblock %}